.stripe-group {
  background-color: #eee;
}
.stripe-group form {
  padding: 10px;
}
.stripe-group label {
  width: 100%;
  float: none;
  display: block;
}

  .stripe-group label {
    width: 49%;
  }
  .stripe-group label.full-width {
    width: 100%;
  }
  .stripe-group label.full-width input {
    width: 100%;
  }
  .stripe-group label.float-left {
    float: left;
  }
  .stripe-group label.float-right {
    float: right;
  }


.stripe-group input {
  border: 1px solid #defede;
  padding: 3px 5px;
  color: #333;
  width: 100%;
}

.stripe-group input.read-only{
    cursor: not-allowed;
    background-color: #eee;
}

.stripe-group input[type="submit"]{
    border: 2px solid #ccc;
    border-radius: 5px;
    font-weight: 700;
    background-color: #ddd;
    width: 100px;
    text-decoration: center;
}